In [1]:
# Import required libraries.

import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cmx
import matplotlib.colors as colors
import numpy as np
%matplotlib inline

In [3]:
# Read the data from disk

data = pd.read_csv('./data/mining_data/calendar.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2326875 entries, 0 to 2326874
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: int64(3), object(4)
memory usage: 124.3+ MB

In [5]:
data.describe()

         listing_id  minimum_nights  maximum_nights
count  2.326875e+06    2.326875e+06    2.326875e+06
mean   2.539325e+17    3.311881e+01    1.685110e+06
std    3.398408e+17    8.639543e+01    6.011797e+07
min    6.606000e+03    1.000000e+00    1.000000e+00
25%    2.566490e+07    2.000000e+00    3.650000e+02
50%    5.020046e+07    3.000000e+00    1.125000e+03
75%    6.455698e+17    3.000000e+01    1.125000e+03
max    8.530090e+17    3.660000e+02    2.147484e+09

In [6]:
# Check for number of null entries in each columns.

data.isnull().sum()

## There aren't any null entries.

listing_id        0
date              0
available         0
price             0
adjusted_price    0
minimum_nights    0
maximum_nights    0
dtype: int64

In [7]:
# Removing string characters to convert price to float.

data['price'] = data['price'].str.replace('$', '')
data['price'] = data['price'].str.replace(',', '')
data['price'] = data['price'].astype(str).astype(float)

In [8]:
# Removing string characters to convert adjusted_price to float.

data['adjusted_price'] = data['adjusted_price'].str.replace('$', '')
data['adjusted_price'] = data['adjusted_price'].str.replace(',', '')
data['adjusted_price'] = data['adjusted_price'].astype(str).astype(float)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2326875 entries, 0 to 2326874
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           float64
 4   adjusted_price  float64
 5   minimum_nights  int64
 6   maximum_nights  int64
dtypes: float64(2), int64(3), object(2)
memory usage: 124.3+ MB

In [11]:
# Store the data in csv
data.to_csv("./data/mining_data/calendar_clean.csv",index=False)